.lul{
	position:fixed;
	width:12rem;
	left: 0;
	background-color:#283643;
	top: 3.5rem;
	bottom: 0;
	margin-bottom:0;
}
.la {
	padding: 0 2rem;
	/* width:100%; */
	height: 3rem;
	line-height: 3rem;
	color:white;
	/* cursor: pointer; */
}
.left-nav li:hover{
	background: #3c4248;
}
.left-nav li.active {
	background: #3c4248;
}

.conter{
	position:fixed;
	top:3.5rem;
	bottom:0;
	left:12rem;
	right: 0;
	overflow: auto;
}
.xia {
	height: 3rem;
	line-height: 3rem;
	border-bottom: 2px;
	border-color: #e9ecef;
	color: #6c757d;
}
