.left{
	position:fixed;
	width:12rem;
	left: 0;
	background-color:#283643;
	top: 3.5rem;
	bottom: 0;
	margin-bottom:0;
}
.aa {
	padding: 0 2rem 0 2rem;
	height: 3rem;
	line-height: 3rem;
	color:white;
}
.left li:hover{
	background: #3c4248;
}
.left li.active {
	background: #3c4248;
}
.left li {
	list-style-type:none;
}
.left a{
	text-decoration: none;
	color: white;
}
.conter {
	position:fixed;
	top:3.5rem;
	bottom:0;
	left:12rem;
	right: 0;
	overflow: auto;
}
.xia {
	height: 3rem;
	line-height: 3rem;
	border-bottom: 2px;
	border-color: #e9ecef;
	color: #6c757d;
}
